<div class="h-screen p-2 bg-[#0084a8] flex items-center justify-center">
  <div class="border border-blue-800 bg-[#ffffff] rounded-md max-w-min p-6">
    <h2 class="text-xl mb-4 text-center text-gray-600">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex flex-col gap-3">
      <div class="field text-xs text-gray-600">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ?
        resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions text-center p-2 cursor-pointer bg-[#007498] text-white">
        <%= f.submit "RESEND INSTRUCTIONS" %>
      </div>
    </div>
    <% end %> <%= render "devise/shared/links" %>
  </div>
</div>
